*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    margin: 0 auto;
    width: 90%;
}

header figure{
    background-position: center;
    background-size: contain;
    background-image: url('./assets/img/Logo\ Original\ 1.png');
    height: 113px;
    width: 113px;
}

.bar{
    background: #333;
    height: 4px;
    width: 20px;
    border-radius: 2px;
}
.bar:nth-of-type(2){
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 15px;
}

main{
    height: 60vh;
    margin: 0 auto;
    width: 90%;
}

main h1{
    font-size: 2rem;
    font-weight: 700;
    padding-left: 0.8rem;
    margin-bottom: 2rem;
}

main article{
    height: 70vh;
}

main article figure{
    height: 214px;
    width: 100%;
    border-radius: 15px;
    background-image: url(./assets/img/portadaDGP.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
    cursor: pointer;
}

main article figure p{
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: 700;
    grid-row-start: 3;
    z-index: 10;
    width: 80%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.blog{
    height: 30vh;
}

.shadow{
    background-color: rgba(3, 3, 3, 0.5);
    bottom: 0;
    height: 80px;
    width: calc(100% - 1rem);
    position: absolute;
    z-index: 1;
    grid-row-start: 3;
    left: 8px;
    bottom: 0px;
    filter: blur(5px);
}

footer{
    background: #333;
    height: 30vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2{
    color: #fafafa;
    text-align: center;
    top: 2.5rem;
    left: 20%;
    position: absolute;
}

footer button{
    height: 40px;
    width: 250px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 3.5rem;
    left: 15%;
    z-index: 10;
    border: none;
    border-radius: 15px;
    background: #65dd8d;
    color: #fafafa;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

form{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form label{
    font-size: 1.2rem;
    color: steelblue;
}

form input{
    border-radius: 5px;
    outline: navajowhite;
    padding: 0.5rem;
    font-size: 1.5rem;
}

form button{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background: steelblue;
    color: #fafafa;
}

form button:active{
    transform: scale(0.9);
}

@media (min-width: 1024px) {

    .mobile{
        display: none;
    }

    main article {
        width: 950px;
    }

    main article figure{
        width: 400px;
        height: 150px;
        margin: 0 auto;
    }

    footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 20vh;
    }

    footer h2{
        position: relative;
        grid-column-start: 2;
        grid-row-start: 1;
        left: 0;
        top: 0;
    }
    
    footer button{
        grid-column-start: 2;
        left: 15%;
        bottom: 0;
        grid-row-start: 2;
        position: relative;
    }
}
@media (min-width: 1440px) {

    .mobile{
        display: none;
    }

    main article{
        margin: 0 auto;
        width: 950px;
    }

    main article a{
        width: 500px;
    }

    main article figure{
        width: 400px;
        height: 250px;
    }

    footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 20vh;
    }

    footer h2{
        position: relative;
        grid-column-start: 2;
        grid-row-start: 1;
        left: 0;
        top: 0;
    }
    
    footer button{
        grid-column-start: 2;
        left: 25%;
        bottom: 0;
        grid-row-start: 2;
        position: relative;
    }
}