*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    margin: 0 auto;
    width: 90%;
}

header figure{
    background-position: center;
    background-size: contain;
    background-image: url('./assets/img/Logo\ Original\ 1.png');
    height: 113px;
    width: 113px;
}

.bar{
    background: #333;
    height: 4px;
    width: 20px;
    border-radius: 2px;
}
.bar:nth-of-type(2){
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 15px;
}